{:paths ["src"]
 :deps {clojure-lanterna/clojure-lanterna {:mvn/version "0.9.7"}
        seesaw/seesaw {:mvn/version "1.5.0"}


        http-kit/http-kit {:mvn/version "2.5.3"}
        cheshire/cheshire {:mvn/version "5.11.0"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version  "0.4.3"}}}
